{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>She110ck | Personal Blog</title>
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <a class="logo"><img class="" src="{% static 'img/logo/logoclassic2.png' %}"></a>
        <ul class="navbar-list">
            <li class="navbar-item">
                <a class="navbar-link" href="#">Home</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="#">Blog</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="#">JFF</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="#">Dictonary</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="#">Examples</a>
            </li>
        </ul>
    </div>

</nav>
<section class="header">
</section>
<div class="content">
</div>
<h1>SSSSSS</h1>
</body>
</html>